/* line 59, ../../../app/stylesheets/application.scss */
input.cupid-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg, #63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
  text-decoration: none;
}

/* line 63, ../../../app/stylesheets/application.scss */
input.cupid-green:hover {
  background: #76b347;
  background: -moz-linear-gradient(0% 100% 90deg, #5e9e2e, #76b347);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

/* line 67, ../../../app/stylesheets/application.scss */
input.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -moz-box-shadow: inset 0 1px 0 0 #548c29;
  -webkit-box-shadow: inset 0 1px 0 0 #548c29;
  box-shadow: inset 0 1px 0 0 #548c29;
}

/* line 71, ../../../app/stylesheets/application.scss */
a.cupid-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg, #63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 77, ../../../app/stylesheets/application.scss */
a.cupid-green:hover {
  background: #76b347;
  background: -moz-linear-gradient(0% 100% 90deg, #5e9e2e, #76b347);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

/* line 81, ../../../app/stylesheets/application.scss */
a.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -moz-box-shadow: inset 0 1px 0 0 #548c29;
  -webkit-box-shadow: inset 0 1px 0 0 #548c29;
  box-shadow: inset 0 1px 0 0 #548c29;
}

/* line 86, ../../../app/stylesheets/application.scss */
body {
  background-color: #4B7399;
}

/* line 88, ../../../app/stylesheets/application.scss */
.container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

/* line 90, ../../../app/stylesheets/application.scss */
#profile label {
  display: inline;
  float: left;
  width: 120px;
  margin-top: 1.2em;
}

/* line 96, ../../../app/stylesheets/application.scss */
#profile hint {
  margin-top: 0;
  padding-top: 0;
  margin-left: 120px;
}

/* line 102, ../../../app/stylesheets/application.scss */
div#header {
  font-size: 12px;
  text-align: right;
  height: 40px;
  padding: 15px 30px;
  margin: 0 -30px;
  margin-bottom: 30px;
}

/* line 111, ../../../app/stylesheets/application.scss */
div#header h1 {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 127px;
  float: left;
  vertical-align: middle;
  text-indent: -9999px;
  display: none;
}

/* line 121, ../../../app/stylesheets/application.scss */
div#header a.logo {
  margin: 0 auto 3px;
  width: 97px;
  height: 0;
  background: url("/../images/velir_ident_logo.png") no-repeat left top;
  display: block;
  padding: 70px 0 0;
  overflow: hidden;
  text-decoration: none;
  border: none;
  background-color: none;
}

/* line 133, ../../../app/stylesheets/application.scss */
div#header h2 {
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 29px;
  font-size: 19px;
  float: left;
  font-weight: normal;
  color: #9c6;
}

/* line 144, ../../../app/stylesheets/application.scss */
div#header h2 a {
  display: block;
  background: url("/../images/velir_ident_logo.png") no-repeat left top;
  padding-left: 80px;
  height: 68px;
  width: 300px;
  padding-top: 20px;
  text-decoration: none;
  color: #1f2027;
}

/* line 155, ../../../app/stylesheets/application.scss */
div#header ul.nav {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 30px;
  margin-top: 20px;
}

/* line 165, ../../../app/stylesheets/application.scss */
div#header a {
  color: #555;
  text-decoration: underline;
}

/* line 170, ../../../app/stylesheets/application.scss */
div#header ul.nav li {
  display: inline;
  margin: 0 0 0 10px;
  list-style: none;
}

/* line 176, ../../../app/stylesheets/application.scss */
div#header li.selected a {
  color: #33a02c;
}
