%div{"data-role" => "page", "data-backbutton" => "true", "data-theme" => "b"}
  %div{"data-role" => "header", "data-position" => "inline"}
    =render :partial => 'home/title'
  %div{"data-role" => "content"}
    %ul{"data-role" => "listview", "data-inset" => "true"}
      %li{"data-role" => "list-divider"} Neighborhoods
      = render :partial => 'neighborhood', :collection => @neighborhoods