<div data-role="page" id="getinvolvedpage" data-theme="b">
  <div data-role="header">
    <a href='#' class='ui-btn-left ui-btn-back' data-icon='arrow-l' onclick="history.back(); return false;">Back</a>
    <%= render :partial => "home/title" %>
  </div>
  <div data-role="content">
    <h1>Get Involved</h1>
      <div data-role="collapsible-set">
        <div data-role="collapsible">
    
          <h3>Add Information</h3>
    
          <p>Help us fill in the information about green spaces you love. Please send us an <a href="mailto:feedback@bostongreen.org" rel="external">Email</a> or use the comments section on the green space pages to submit feedback.</p>

        </div>

        <div data-role="collapsible" data-collapsed="true">
      
          <h3>Report</h3>
      
          <p>Submit your compliments and complaints to the agencies and groups that care for our parks.</p>
      
          <ul data-role="listview" data-inset="true">
            <li role="option">
              <a href="http://www.brooklinema.gov/index.php?option=com_content&view=category&layout=blog&id=204&Itemid=744" rel="external">Brookline Department of Recreation</a>
            </li>
            <li role="option">
              <a href="http://www.bostonnatural.org/" rel="external">Boston Natural Areas Network</a>
            </li>
            <li role="option">
              <a href="http://www.ci.boston.ma.us/parks" rel="external">Boston Parks & Recreation Department (BPRD)</a>
            </li>
            <li role="option">
              <a href="http://www2.cambridgema.gov/cdd/cp/parks/index.html" rel="external">Cambridge Parks and Open space</a>
            </li>
            <li role="option">
              <a href="http://www.mass.gov/dcr/" rel="external">MA Department of Conservation and Recreation</a>
            </li>
            <li role="option">
              <a href="http://www.massport.com" rel="external">Massachusetts Port Authority (MASSPORT)</a>
            </li>
            <li role="option">
              <a href="http://www.somervillema.gov/Division.cfm?orgunit=PARKS" rel="external">Somerville Parks and Open Space</a>
            </li>
          </ul>
    
        </div>

        <div data-role="collapsible" data-collapsed="true">
       
           <h3>Volunteer</h3>
       
           <p>There are virtually limitless volunteer opportunities at parks. Volunteers do cleanups, trail work, plant flowers, lead programs and more. Speak directly with the friends group with which you would like to volunteer.</p>

           <ul data-role="listview" data-inset="true">
             <li role="option">
               <a href="http://www.arborway.net/coalition/Welcome.html" rel="external">Arborway Coalition</a>
             </li>
             <li role="option">
               <a href="http://www.massaudubon.org/Nature_Connection/Sanctuaries/Boston/" rel="external">Boston Nature Center</a>
             </li>
             <li role="option">
               <a href="http://www.bostonnatural.org/" rel="external">Boston Natural Areas Network</a>
             </li>
             <li role="option">
               <a href="http://bostonparks.org/" rel="external">Boston Parks Advocates</a>
             </li>
             <li role="option">
               <a href="http://rbcant.us/cleanupboat/index.htm" rel="external">Charles River Clean Up Boat</a>
             </li>
             <li role="option">
               <a href="http://www.thecharles.org/" rel="external">Charles River Conservancy</a>
             </li>
             <li role="option">
               <a href="http://www.chelseacollab.org/program/greenspace" rel="external">Chelsea Greenspace and Recreation Committee</a>
             </li>
             <li role="option">
               <a href="http://www.waquoitbayreserve.org/mission.shtml" rel="external">Citizens for the Protection of Waquoit Bay</a>
             </li>
             <li role="option">
               <a href="http://www.emeraldnecklace.org/" rel="external">Emerald Necklace Conservancy</a>
             </li>
             <li role="option">
               <a href="http://www.esplanadeassociation.org/" rel="external">Esplanade Association</a>
             </li>
             <li role="option">
               <a href="http://www.franklinparkcoalition.org/" rel="external">Franklin Park Coalition</a>
             </li>
             <li role="option">
               <a href="http://friendsofalewifereservation.org/homepage.htm" rel="external">Friends of Alewife Reservation</a>
             </li>
             <li role="option">
               <a href="http://www.friendsofbelleislemarsh.org/" rel="external">Friends of Belle Isle Marsh</a>
             </li>
             <li role="option">
               <a href="http://www.saugus.org/FOBR" rel="external">Friends of Breakheart Reservation</a>
             </li>
             <li role="option">
               <a href="http://www.citysquarepark.org/" rel="external">Friends of City Square Park</a>
             </li>
             <li role="option">
               <a href="http://www.friendsofcsp.org/involved.html" rel="external">Friends of Cochituate State Park</a>
             </li>
             <li role="option">
               <a href="http://www.geocities.com/eastbostongreenway/" rel="external">Friends of East Boston Greenway</a>
             </li>
             <li role="option">
               <a href="http://friendsofharoldparker.org/" rel="external">Friends of Harold Parker State Forest</a>
             </li>
             <li role="option">
               <a href="http://www.hemlockgorge.org/" rel="external">Friends of Hemlock Gorge</a>
             </li>
             <li role="option">
               <a href="http://www.lynn-nahantbeach.org/" rel="external">Friends of Lynn & Nahant Beach</a>
             </li>
             <li role="option">
               <a href="http://www.friendsofscussetbeach.org/" rel="external">Friends of Scusset Beach</a>
             </li>
             <li role="option">
               <a href="http://www.friendsofthebluehills.org/" rel="external">Friends of the Blue Hills</a>
             </li>
             <li role="option">
               <a href="http://www.fbhi.org/" rel="external">Friends of the Boston Harbor Islands</a>
             </li>
             <li role="option">
               <a href="http://www.greatfallsma.org/index.html" rel="external">Friends of the Great Falls Discovery Center</a>
             </li>
             <li role="option">
               <a href="http://www.fells.org/" rel="external">Friends of the Middlesex Fells Reservation</a>
             </li>
             <li role="option">
               <a href="http://www.friendsmssf.com/" rel="external">Friends of the Myles Standish State Forest</a>
             </li>
             <li role="option">
               <a href="http://www.friendsofuptonstateforest.org/" rel="external">Friends of Upton State Forest</a>
             </li>
             <li role="option">
               <a href="http://www.lakewhitehall.org/" rel="external">Friends of Whitehall</a>
             </li>
             <li role="option">
               <a href="http://www.wollastonbeach.org/" rel="external">Friends of Wollaston Beach Reservation</a>
             </li>
             <li role="option">
               <a href="http://www.friendsofwompatuck.org/" rel="external">Friends of Wompatuck</a>
             </li>
             <li role="option">
               <a href="http://www.islandalliance.org/" rel="external">Island Alliance</a>
             </li>
             <li role="option">
               <a href="http://www.masspaths.org" rel="external">Mass Paths - A Massachusetts Bike Pathway Network</a>
             </li>
             <li role="option">
               <a href="http://www.massaudubon.org" rel="external">Massachusetts Audubon</a>
             </li>
             <li role="option">
               <a href="http://www.masshort.org" rel="external">Massachusetts Horticultural Society</a>
             </li>
             <li role="option">
               <a href="http://www.mwra.state.ma.us" rel="external">Massachusetts Water Resources Authority</a>
             </li>
             <li role="option">
               <a href="http://www.sandyberkenbush.com/Maudslay/Maudslay%20Site/index.html" rel="external">Maudslay State Park Association</a>
             </li>
             <li role="option">
               <a href="http://www.mysticriver.org" rel="external">Mystic River Watershed Association</a>
             </li>
             <li role="option">
               <a href="http://www.neponset.org" rel="external">Neponset River Watershed Association</a>
             </li>
             <li role="option">
               <a href="http://reverebeachpartnership.com/" rel="external">Revere Beach Partnership</a>
             </li>
             <li role="option">
               <a href="http://www.savetheharbor.org/" rel="external">Save the Harbor/Save the Bay</a>
             </li>
             <li role="option">
               <a href="http://www.swcpc.org/swcpmap.htm" rel="external">Southwest Corridor Park Conservancy</a>
             </li>
             <li role="option">
               <a href="http://www.tbha.org" rel="external">The Boston Harbor Association</a>
             </li>
             <li role="option">
               <a href="http://www.thetrustees.org" rel="external">The Trustees of Reservations</a>
             </li>
             <li role="option">
               <a href="http://www.thoreausociety.org/_friends.htm" rel="external">Thoreau Society/Friends of Walden Pond</a>
             </li>
             <li role="option">
               <a href="http://www.tpl.org" rel="external">Trust for Public Land</a>
             </li>
           </ul>
     
         </div>
      </div>
  </div>
</div>
